<div class="row">
    <div class="col-md-12 title">
        <h1>Vítejte na FSharpingu</h1>
    </div>
    <div class="col-md-9">
        {{{LeftCol}}}
    </div>
    <div class="col-md-3">
        <!--Twitter-->
        <a class="twitter-timeline" href="https://twitter.com/FSharping" data-widget-id="687666719897210880">Tweets by FSharping</a>
        <script>
            !function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");
        </script>
       
    </div>

</div>

