<div>
    <p>
        FSharping je komunita nadšenců okolo jazyka F# a funkcionálního programování. Chceme se společně učit, předávat si znalosti
        a společně prošlapávat cesty. Je úplně jedno, jakou úroveň znalostí a zkušeností máš. Vítán je každý, kdo má chuť se vzdělávat
        a zároveň svoje zkušenosti předávat ostatním. Ať už formou <a href="/blog">článků</a> nebo na <a href="/meetups">srazech</a>.
    </p>
    <p>
        Srazy pořádáme s určitou neurčitou pravidelností.
        Vždy se snažíme sehnat zajímavého řečníka se zajímavým tématem, ale vzít slovo si může každý a popovídat o svých zkušenostech
        a úspěších s F#, ať ve firmě či na soukromém projektu. Po přednášce si sedneme na pivko.
    </p>
    <p>
        FSharping je otevřen úplně všem - nadšencům, zvědavcům i profíkům.
    </p>
    <p>
        <strong>Vítejte na FSharpingu!</strong>
    </p>
</div>
<hr />

<div class="row">
    <div class="col-md-6 list">
        {{{Blog}}}
    </div>
    <div class="col-md-6 list meetups">
        {{{Meetups}}}
    </div>
</div>
