<div>
  <p>
    FSharping je komunita nadšenců okolo jazyka F# a dění okolo něj. Funcionální programávání je slyšet ze všech stran. A nás to baví!
    Jsme nadšenci a učíme se, postupně prošlápáváme cesty a měníme své objektové navýky na ty funkcionální.
    Své poznatky a zkušenosti chceme sdílet dál. Ať už formou <a href="/blog">článků</a> nebo na <a href="/meetups">meetupech</a>.
  </p>
  <p>
    <a href="http://srazy.info/fsharping">Meetupy</a> pořádáme s určitou neurčitou pravidelností.
    Vždy se snažíme sehnat zajímavého řečníka se zajímavým tématem. Po přednášce následuje pivko.
    Společně tak můžeme sdílet své postřehy, znalosti a zkušenosti. Meetupy jsou otevřeny úplně všem, jak nadšencům, zvědavcům, tak i profíkům.
  </p>
  <p>
    Naším cílem je vytvořit komunitu nadšenců jazyka F# u nás v Česku. Určitě nás není málo! Zkrátka <b>FSharpgin</b>!
  </p>
</div>
<hr />

<div class="row">
    <div class="col-md-6 list">
        {{{Blog}}}
    </div>
    <div class="col-md-6 list meetups">
        {{{Meetups}}}
    </div>
</div>
