@foreach(var item in @Model) {
<div class="row">
    <div class="col-md-12 meetup-title">
      <h2><a href="~meetups/@item.Rewrite">@item.Title</a></h2>
      <p class="start">
          <span>@item.Start.ToString("dd. MM. yyyy") {{{$:Texts:At}}} @item.Start.ToString("HH:mm"), </span>
          <span>@item.Address</span>
      </p>
    </div>
    <div class="col-md-6">
        <div class="meetup">
            <p class="description">
                @item.Description
            </p>
            <div class="register">
                <a href="@item.Link"><i class="fa fa-users"></i>&nbsp;{{{$:Texts:IwantToCome}}}</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="map" id="map_@item.Rewrite" data-lat="@item.Gps.Lat" data-lon="@item.Gps.Lon"></div>
    </div>
</div>
}
