<div class="row">
    <div class="col-md-12">
        @foreach(var item in @Model) {
        <div class="meetup">
            <h2><a href="~meetups/@item.Rewrite">@item.Title</a></h2>
            <p class="start">
                @item.Start.ToString("dd. MM. yyyy") {{{$:Texts:At}}} @item.Start.ToString("HH:mm")
            </p>
            <p class="address">
                @item.Address
            </p>
            <div class="map" id="map_@item.Rewrite" data-lat="@item.Gps.Lat" data-lon="@item.Gps.Lon">

            </div>
        </div>
        }
    </div>
</div>