<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <span class="author">
                    <a href="http://twitter.com/dzoukr">
                        <img class="img-circle" src="http://www.gravatar.com/avatar/c02a3fcfbe6d516d040cddc06bd52560?s=25" />  Roman Provazník
                    </a>
                </span>
                <span class="author">
                    <a href="https://twitter.com/jirkapenzes">
                        <img class="img-circle" src="http://www.gravatar.com/avatar/3ebef1e1fcf7582e6b0000e94eaf517f?s=25" />  Jirka Pénzeš
                    </a>
                </span>
            </div>
            <div class="col-md-2 text-right links">
                <a href="http://github.com/fsharping"><i class="fa fa-github fa-2x"></i></a>
                <a href="http://twitter.com/fsharping"><i class="fa fa-twitter fa-2x"></i></a>
                <a tabindex="0" data-trigger="focus" role="button" data-toggle="popover" data-placement="top" data-html="true" data-content="<div><i class='fa fa-rss'></i>&nbsp;<a href='/blog/rss.xml'>Blog</a></div><div><i class='fa fa-rss'></i>&nbsp;<a href='/meetups/rss.xml'>Srazy</a></div>"><i class="fa fa-rss fa-2x"></i></a>
            </div>
        </div>

    </div>
</footer>
