<div class="row">
    <div class="col-md-7">

        <div>
            <h2>
                <a href="#">Lorem ipsum dolor sit amet</a>
            </h2>
            <p>
                21. ledna 2015 napsal Roman Provazník
            </p>
            <p>
                Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper.
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
            </p>
        </div>




    </div>
    <div class="col-md-5">


        <h3>Nadcházející srazy</h3>
        <div>
            <h4><a href="#">FSharping Vol. 1</a></h4>
            <p>
                <i class="fa fa-calendar-o"></i> 21. ledna 2015 od 18:00
            </p>
            <p>
                <i class="fa fa-map-marker"></i> U lambdy 15, Praha
            </p>
        </div>







        @*
        <a class="twitter-timeline" href="https://twitter.com/FSharping" data-widget-id="687666719897210880">Tweets by FSharping</a>
        <script>
            !function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");
        </script>
        *@
    </div>
</div>

<div class="row">

</div>